/* disabling default spacing */
body, form, h1, h2, #tagline, h3, #tnav, #tnav li, #sidebar ul, #sidebar li, #content form ul, #content form li {
margin: 0;
padding: 0;
}

table {
  border-collapse: collapse;
}

body {
text-align: center;
background: #00A6F0;
color: #555;
margin-top: 3em;
}
#jump {
position: absolute;
top: -999em;
}
.hide {
display: none;
}

/* text formatting */
h1, #tagline {
font: 520%/1.4 georgia,serif;
font-weight: bold;
color: #00A6F0;
letter-spacing: .1px;
text-shadow: .1em 0 0 #eee;
}
h2, h3 {
font: 130%/1.4 verdana,geneva,lucida,arial,sans-serif;
margin: 1em 0;
}
#tagline {
font-size: 80%;
text-transform: lowercase;
}
h2 {
font-weight: bold;
color: #999;
}
h3 {
font-size: 110%;
}
#container, input, textarea {
font: 100%/1.4 verdana,geneva,lucida,arial,sans-serif;
}
input, textarea {
font-size: 100%;
}
#footer, #sidebar, #available {
font-size: 90%;
}
#counter {
  border: none;
  text-align: right;
  color: #555;
  padding: none;
}
.serif {
font-family: georgia,serif;
}
.fun {
font-family: "comic sans ms",fantasy;
}
a {
color: #00A6F0;
}
a:hover {
color: #004D70;
text-decoration: none;
}

/* outer box */
#container {
margin: auto;
width: 750px;
text-align: left;
background: #fff;
border: 2px solid #bbb;
padding: 20px 1em 3em;
position: relative;
width: 744px;
}
html>body #container {
width: 744px;
}

/* masthead */
h1 {
margin: 0 0 10px 10px;
}
#tagline {
position: absolute;
top: 8.3em;
left: 3.4em;
padding: .5em;
}
#accountLinks {
position: absolute;
top: 2em;
right: 1em;
font-size: 90%;
}
#tnav, #tnav li {
line-height: 1;
}
#tnav {
padding-left: 1em;
height: 2em;
}
#tnav li {
float: left;
margin-right: .5em;
background: #999;
}
#tnav .current {
background-color: #00A6F0;
}
#tnav a {
display: block;
padding: .5em 1em;
text-decoration: none;
}
#tnav a, #tnav .current a:hover, #tnav .current a:focus {
color: #fff;
font-weight: bold;
}
#tnav a:hover, #tnav a:focus {
background: #004D70;
}
#tnav .current a:hover {
background: inherit;
}

/* left-hand column */
p {
margin: 1em 0;
}
#content form div {
float: left;
}
#content form div, #recip, #msg, #sender {
margin-bottom: 1.25em;
}
#content form label {
text-transform: capitalize;
}
img {
border: 0;
}
#content {
margin: 0 20px;
}
#content li {
margin-bottom: .5em;
list-style: circle;
}
#content form ul {
margin: 3em 0;
}
#recip, #sender, textarea, #name, #password, #confirmpassword, #emailAddr, #ccnumber, #emailadr, #passwd, #first_name, #last_name, #email, #subject, #message {
width: 18em;
border: 1px solid #999;
}
#msg {
width: 18em;
height: 8em;
}
#content form img {
border: 3px solid #fff;
}
h3 {
font-weight: bold;
color: #777;
}
table {
  width: 100%;
}
th,td {
  padding: .5em 1em;
  border: 1px solid #999;
}
th {
  background: #00A6F0;
  color: #fff;
  border-color: #00A6F0;
  text-align: center;
  text-transform: uppercase;
}
#footer {
  margin: 1em 0;
}
#pwd-link {
display: block;
margin: 0 0 1em;
}

/* right-hand column */
#sidebar {
position: absolute;
top: 9.75em;
right: 10px;
width: 176px;
border: 3px double #000;
padding: 5px;
width: 160px;
}
html>body #sidebar {
width: 160px;
}
#form li {
margin: .5em 0;
}
#sidebar ul {
margin-top: 1em;
}
#sidebar li {
margin: 1em 0;
}

/* floated lists in content areas */
#form label, #content form label {
float: left;
display: block;
text-align: right;
}
#form label {
width: 70px;
margin-right: 3px;
}
#content form label {
width: 12em;
margin-right: 1em;
}
.clr, #content form li {
clear: both;
}
#login {
margin-left: 75px;
}

/* disabling default list styling */
#tnav, #tnav li, #sidebar ul, #sidebar li, #content form ul, #content form li {
list-style: none;
}

/* JavaScript-added classes */
.error, #errorMessage {
color: #f00;
font-weight: bold;
}
.err_msg {
border: none;
font-size: 70%;
color: red;
vertical-align: top;
width: 17em;
}
.overLimit {
background: #f00;
color: #fff;
}
#content form .imgBorder {
border: 3px solid #00A6F0;
}
#editUser{
  margin:15px 300px;
}
#delMsg{
  margin:15px 275px;
}