body {font-size: 90%; line-height: 1.4; margin-top: 100px; padding: 0;}
.sans {font-family: verdana,geneva,lucida,arial,sans-serif;}
.serif {font-family: georgia,serif;}
.fun {font-family: "comic sans ms",fantasy;}
.dentistA {background: url(../images/theme-dentist-a.png) top left repeat-x;}
.dentistB {background: url(../images/theme-dentist-b.png) top left repeat-x;}
.houseA {background: url(../images/theme-house-a.png) top left repeat-x;}
.houseB {background: url(../images/theme-house-b.png) top left repeat-x;}
.vetA {background: url(../images/theme-pet-a.png) top left repeat-x;}
.vetB {background: url(../images/theme-pet-b.png) top left repeat-x;}
.vdA {background: url(../images/theme-vd-a.png) top left repeat-x;}
.vdB {background: url(../images/theme-vd-b.png) top left repeat-x;}